/* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  border-radius: 24px;
}

.lista-normal {
  list-style-type: circle !important
}

div.formulario-padre {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.formulario-centro {
  width: 33.33%;
}

div.campo-captcha {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.error-semicentro {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
}

.admin-card-fab {
  position: absolute;
  right: 5%;
  bottom: 30.5%;
  z-index: 1; /* Establece el z-index en 1 */
}

.custom-card-fab {
  position: absolute;
  right: 5%;
  bottom: 23%;
  z-index: 1; /* Establece el z-index en 1 */
}

.custom-fixed-fab {
  position: fixed;
  right: 10%;
  bottom: 5%;
}

.custom-card-content {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logotipo {
  font-family: 'Carter One';
  text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.material-icons-round {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

.header {
  font-family: 'Franklin Gothic Condensed';
}

.input-field input/* [type=text] */ + label, .materialize-textarea + label {
  color: #8d6e63 !important;
}

.input-field input/* [type=text] */, .materialize-textarea {
  border-bottom: 1px solid #8d6e63 !important;
  box-shadow: 0 1px 0 0 #8d6e63 !important;
}

.input-field input/* [type=text] */:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #ef6c00 !important;
}

.input-field input/* [type=text] */:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important;
}

/* Color de los checkbox con relleno verificados desenfocados*/
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid #8d6e63;
  background-color: #8d6e63;
}

/* Color de los checkbox con relleno sin verificar desenfocados*/
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  border: 2px solid #8d6e63;
}

/* Color de los checkbox con relleno verificados enfocados*/
[type="checkbox"]:focus.filled-in:checked+span:not(.lever):after {
  border: 2px solid #ef6c00;
  background-color: #ef6c00;
}

/* Color de los checkbox con relleno sin verificar enfocados*/
[type="checkbox"]:focus.filled-in:not(:checked)+span:not(.lever):after {
  border: 2px solid #ef6c00;
}

/* Color de la etiqueta de los checkbox con relleno desenfocados */
[type="checkbox"]+span:not(.lever) {
  color: #8d6e63;
}

/* Color de la etiqueta de los checkbox con relleno enfocados */
[type="checkbox"]:focus+span:not(.lever) {
  color: #ef6c00;
}

/* Color de texto de la etiqueta de los select */
.select-wrapper + label {
  color: #8d6e63;
}

.select-wrapper:focus-within + label {
  color: #ef6c00;
}

/* Color del icono prefijo en campos input */
.input-field .prefix, div .prefix {
  color: #8d6e63;
}

/* Color del icono prefijo activo en campos input */
.input-field .prefix.active {
  color: #ef6c00 !important;
}

option.selected {
  background-color: #fff9c4;
}

/* Color de fondo y de texto en las opciones de los select */
.dropdown-content li>span {
  background-color: #fff59d;
  color: #000;
}

/* Color de fondo y de texto en las opciones seleccionadas de los select */
.dropdown-content .selected>span {
  background-color: #8d6e63;
  color: #fff;
}

/* Color de texto en las opciones de los select multiple */
li:not(.disabled) span [type="checkbox"]+span:not(.lever) {
  color: #000;
}

/* Color de texto al pasar el cursor sobre las opciones de los select multiple */
li:hover:not(.disabled) span [type="checkbox"]+span:not(.lever) {
  color: #fff;
}

/* Color de fondo y de texto al pasar el cursor sobre las opciones de los select */
.select-dropdown > li > span:hover {
  background-color: #8d6e63;
  color: #fff;
}

/* Color del icono check en los select multiple */
[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

/* Color del texto en los select multiple */
ul li:not(.disabled) span label [type="checkbox"]:checked+span:not(.lever) {
  color: #fff;
}

/* Color del icono vacío en los select multiple */
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid #000;
}

/* Color de fondo y de texto en las opciones disabled de los select */
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  color: #9e9e9e;
  background-color: #fffde7;
}

/* Color de texto en las opciones disabled de los select multiple */
[type="checkbox"]:checked:disabled+span {
  color: #9e9e9e;
}
[type="checkbox"]:not(:checked):disabled+span:not(.lever) {
  color: #9e9e9e;
}

/* Color del icono lleno en los select multiple */
[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: none;
  background-color: #9e9e9e;
}

/* Color del icono check disabled en los select multiple */
[type="checkbox"]:checked:disabled+span:before {
  border-right: 2px solid #9e9e9e;
  border-bottom: 2px solid #9e9e9e;
}

/* Color del icono vacío de los botones radio */
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
  border: 2px solid #8d6e63;
}

/* Color del borde los icono de los botones radio con contorno */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #8d6e63;
}

/* Color del icono de los botones radio seleccionados */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #8d6e63;
}

/* Color de texto de los botones radio */
[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
  color: #000;
}

table.highlight > tbody > tr:hover {
  background-color: #fff9c4;
}

.collapsible-header {
  border-bottom: 1px solid #795548;
}

.collapsible-body {
  border-bottom: 1px solid #fff9c4;
}

.dropdown-content > li:hover {
  background-color: #8d6e63; /* Cambiar el color de fondo al pasar el cursor sobre el enlace */
}

.dropdown-content > li:hover > a {
  color: #fff !important; /* Cambiar el color del texto al pasar el cursor sobre el enlace */
}

textarea.materialize-textarea {
  min-height: 6rem;
}

.btn {
  border-radius: 24px;
}

.btn-flat {
  border-radius: 24px;
}

.modal {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .modal.form {
    width: 90%;
  }
  
  .modal.fixed-footer-s {
    padding: 0;
    height: 70%;
  }
  
  .modal.fixed-footer-s .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .modal.fixed-footer-s .modal-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
  }
  
  #toast-container {
    left: 2.5%;
    bottom: 3%;
    min-width: 95%;
    max-width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .modal.form {
    width: 80%;
  }

  .input-field .hide-on-med-and-up ~ input, .input-field .hide-on-med-and-up ~ textarea, .input-field .hide-on-med-and-up ~ label, .input-field .hide-on-med-and-up ~ .validate ~ label, .input-field .hide-on-med-and-up ~ .helper-text, .input-field .hide-on-med-and-up ~ .autocomplete-content {
    width: 100%;
    margin: 0 0 8px 0;
  }
}

@media only screen and (max-width: 992px) {
  .table-area {
    height: 288px;
  }

  .tbody-area {
    height: 288px;
  }

  .material-tooltip {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .modal.form {
    width: 60%;
  }

  .table-area {
    height: 455.5px;
  }

  .tbody-area {
    height: 402.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .modal.form {
    width: 45%;
  }
}

@media only screen and (min-width: 1800px) {
  .modal.form {
    width: 30%;
  }
}

.material-tooltip {
  background-color: #8d6e63;
  border-radius: 24px;
  padding-inline: 1%;
}

.card-image {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.card {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.card-action {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.pagination li.active {
  background-color: #ef6c00;
}

.pagination li {
  border-radius: 24px;
}

.datepicker-date-display {
  background-color: #795548;
  color: #fff;
}

.datepicker-calendar-container {
  background-color: #fff9c4;
}

button:focus {
  background-color: #795548;
  border-radius: 24px;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #000;
}

.datepicker-table td.is-today {
  color: #ef6c00;
}

.datepicker-table td.is-selected {
  background-color: #ef6c00;
  color: #fff;
}

.datepicker-day-button:focus {
  background-color: #ff9800;
  color: #fff;
}

.datepicker-table abbr {
  text-decoration: none;
  color: #8d6e63;
}

.datepicker-controls .select-month input {
  width: 85px;
}

button.month-prev:focus svg,
button.month-next:focus svg {
  fill: #fff;
}

.timepicker-digital-display {
  background-color: #795548;
}

.timepicker-analog-display {
  background-color: #fff9c4;
}

.timepicker-plate {
  background-color: #fff176;
}

.timepicker-close, .timepicker-clear {
  color: #000;
}

.timepicker-tick.active, .timepicker-tick:hover {
  background-color: #ff9800;
  color: #fff;
}

.timepicker-canvas line {
  stroke: #ef6c00;
}

.timepicker-canvas-bearing {
  fill: #ef6c00
}

.timepicker-canvas-bg {
  fill: #ef6c00
}

ul.stepper .step.active::before, ul.stepper .step.done::before {
  background-color: #ef6c00;
}

ul.stepper .step.wrong::before {
  background-color: #bf360c;
}

ul.stepper .step::before {
  background-color: #8d6e63;
}

.progress {
  background-color: #ffe0b2;
}

.progress .indeterminate {
  background-color: #ef6c00;
}

.spinner-layer {
  border-color: #ef6c00;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* ancho de la barra de desplazamiento */
  height: 12px; /* argb(51, 41, 41)e la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #fff9c4; /* color del riel de la barra de desplazamiento */
}

/* Estilo del mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #795548; /* color del mango de la barra de desplazamiento */
  border-radius: 50px; /* radio del mango de la barra de desplazamiento */
  border: 2px solid #fff9c4; /* borde del mango de la barra de desplazamiento */
}

/* Estilo del mango de la barra de desplazamiento al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #5d4037; /* color del mango de la barra de desplazamiento al pasar el cursor sobre él */
}

::-webkit-input-placeholder {
  color: #795548; /* Color deseado del placeholder */
}

:-moz-placeholder {
  color: #795548; /* Color deseado del placeholder */
  opacity: 1;
}

::-moz-placeholder {
  color: #795548; /* Color deseado del placeholder */
  opacity: 1;
}

:-ms-input-placeholder {
  color: #795548; /* Color deseado del placeholder */
}

/* Radio de borde */
.border-radius-1 {
  border-radius: 4px;
}
.border-radius-2 {
  border-radius: 8px;
}
.border-radius-3 {
  border-radius: 16px;
}
.border-radius-4 {
  border-radius: 24px;
}
.border-radius-5 {
  border-radius: 32px;
}

.margin.top-0{
  margin-top:0
}
.margin.bottom-0{
  margin-bottom:0
}
.margin.top-10{
  margin-top:10px
}
.margin.bottom-10{
  margin-bottom:10px
}
.margin.top-20{
  margin-top:20px
}
.margin.bottom-20{
  margin-bottom:20px
}
.margin.top-40{
  margin-top:40px
}
.margin.bottom-40{
  margin-bottom:40px
}
.margin.top-60{
  margin-top:60px
}
.margin.bottom-60{
  margin-bottom:60px
}
.margin.top-80{
  margin-top:80px
}
.margin.bottom-80{
  margin-bottom:60px
}
.margin.top-100{
  margin-top:100px
}
.margin.bottom-100{
  margin-bottom:100px
}
.margin.top-120{
  margin-top:120px
}
.margin.bottom-120{
  margin-bottom:120px
}
.margin.top-140{
  margin-top:140px
}
.margin.bottom-140{
  margin-bottom:140px
}
.margin.top-160{
  margin-top:160px
}
.margin.bottom-160{
  margin-bottom:160px
}
.margin.all-10{
  margin:5px
}
.margin.all-20{
  margin:10px
}
.margin.all-40{
  margin:20px
}
.no-margin{
  margin:0!important
}
.no-padding{
  padding:0!important
}
.block{
  display:block
}
.block.center{
  margin:0 auto
}
.clear{
  clear:both
}
.padding.top-0{
  padding-top:0
}
.padding.bottom-0{
  padding-bottom:0
}
.padding.top-10{
  padding-top:10px
}
.padding.bottom-10{
  padding-bottom:10px
}
.padding.top-20{
  padding-top:20px
}
.padding.bottom-20{
  padding-bottom:20px
}
.padding.top-40{
  padding-top:40px
}
.padding.bottom-40{
  padding-bottom:40px
}
.padding.top-60{
  padding-top:60px
}
.padding.bottom-60{
  padding-bottom:60px
}
.padding.top-80{
  padding-top:80px
}
.padding.bottom-80{
  padding-bottom:80px
}
.padding.top-100{
  padding-top:100px
}
.padding.bottom-100{
  padding-bottom:100px
}
.padding.top-120{
  padding-top:120px
}
.padding.bottom-120{
  padding-bottom:120px
}
.padding.top-160{
  padding-top:160px
}
.padding.bottom-160{
  padding-bottom:160px
}
.padding.all-10{
  padding:10px
}
.padding.all-20{
  padding:20px
}
.padding.all-40{
  padding:40px
}
.underline.bottom{
  border-bottom:1px solid #d5d5d5
}
.padding.s-top-0{
  padding-top:0
}
.padding.s-bottom-0{
  padding-bottom:0
}
.padding.s-top-10{
  padding-top:10px
}
.padding.s-bottom-10{
  padding-bottom:10px
}
.padding.s-top-20{
  padding-top:20px
}
.padding.s-bottom-20{
  padding-bottom:20px
}
.padding.s-top-40{
  padding-top:40px
}
.padding.s-bottom-40{
  padding-bottom:40px
}
.padding.s-top-60{
  padding-top:60px
}
.padding.s-bottom-60{
  padding-bottom:60px
}
.padding.s-top-80{
  padding-top:80px
}
.padding.s-bottom-80{
  padding-bottom:80px
}
.padding.s-top-100{
  padding-top:100px
}
.padding.s-bottom-100{
  padding-bottom:100px
}
.padding.s-top-120{
  padding-top:120px
}
.padding.s-bottom-120{
  padding-bottom:120px
}
.padding.s-top-140{
  padding-top:140px
}
.padding.s-bottom-140{
  padding-bottom:140px
}
.padding.s-top-160{
  padding-top:160px
}
.padding.s-bottom-160{
  padding-bottom:160px
}
.padding.s-all-20{
  padding:20px
}
.margin.s-top-0{
  margin-top:0
}
.margin.s-bottom-0{
  margin-bottom:0
}
.margin.s-top-10{
  margin-top:10px
}
.margin.s-bottom-10{
  margin-bottom:10px
}
.margin.s-top-20{
  margin-top:20px
}
.margin.s-bottom-20{
  margin-bottom:20px
}
.margin.s-top-40{
  margin-top:40px
}
.margin.s-bottom-40{
  margin-bottom:40px
}
.margin.s-top-60{
  margin-top:60px
}
.margin.s-bottom-60{
  margin-bottom:60px
}
.margin.s-top-80{
  margin-top:80px
}
.margin.s-bottom-80{
  margin-bottom:80px
}
.margin.s-top-100{
  margin-top:100px
}
.margin.s-bottom-100{
  margin-bottom:100px
}
.margin.s-top-120{
  margin-top:120px
}
.margin.s-bottom-120{
  margin-bottom:120px
}
.margin.s-top-140{
  margin-top:140px
}
.margin.s-bottom-140{
  margin-bottom:140px
}
.margin.s-top-160{
  margin-top:160px
}
.margin.s-bottom-160{
  margin-bottom:160px
}
.margin.s-all-20{
  margin:20px
}
@media only screen and (min-width:601px){
  .row .col.offset-m0{
      margin-left:auto
  }
  .row .col.offset-s0.offset-m1{
      margin-left:8.33333%
  }
  .padding.m-top-0{
      padding-top:0
  }
  .padding.m-bottom-0{
      padding-bottom:0
  }
  .padding.m-top-20{
      padding-top:20px
  }
  .padding.m-bottom-20{
      padding-bottom:20px
  }
  .padding.m-top-40{
      padding-top:40px
  }
  .padding.m-bottom-40{
      padding-bottom:40px
  }
  .padding.m-top-60{
      padding-top:60px
  }
  .padding.m-bottom-60{
      padding-bottom:60px
  }
  .padding.m-top-80{
      padding-top:80px
  }
  .padding.m-bottom-80{
      padding-bottom:80px
  }
  .padding.m-top-100{
      padding-top:100px
  }
  .padding.m-bottom-100{
      padding-bottom:100px
  }
  .padding.m-top-120{
      padding-top:120px
  }
  .padding.m-bottom-120{
      padding-bottom:120px
  }
  .padding.m-top-160{
      padding-top:160px
  }
  .padding.m-bottom-160{
      padding-bottom:160px
  }
  .padding.m-all-20{
      padding:20px
  }
  .margin.m-top-0{
      margin-top:0
  }
  .margin.m-bottom-0{
      margin-bottom:0
  }
  .margin.m-top-20{
      margin-top:20px
  }
  .margin.m-bottom-20{
      margin-bottom:20px
  }
  .margin.m-top-40{
      margin-top:40px
  }
  .margin.m-bottom-40{
      margin-bottom:40px
  }
  .margin.m-top-60{
      margin-top:60px
  }
  .margin.m-bottom-60{
      margin-bottom:60px
  }
  .margin.m-top-80{
      margin-top:80px
  }
  .margin.m-bottom-80{
      margin-bottom:80px
  }
  .margin.m-top-100{
      margin-top:100px
  }
  .margin.m-bottom-100{
      margin-bottom:100px
  }
  .margin.m-top-120{
      margin-top:120px
  }
  .margin.m-bottom-120{
      margin-bottom:120px
  }
  .margin.m-top-160{
      margin-top:160px
  }
  .margin.m-bottom-160{
      margin-bottom:160px
  }
  .margin.m-all-20{
      margin:20px
  }
}
@media only screen and (min-width:993px){
  .row .col.offset-l0{
      margin-left:auto
  }
  .row .col.offset-m0.offset-l1{
      margin-left:8.33333%
  }
  .padding.l-top-0{
      padding-top:0
  }
  .padding.l-bottom-0{
      padding-bottom:0
  }
  .padding.l-top-20{
      padding-top:20px
  }
  .padding.l-bottom-20{
      padding-bottom:20px
  }
  .padding.l-top-40{
      padding-top:40px
  }
  .padding.l-bottom-40{
      padding-bottom:40px
  }
  .padding.l-top-60{
      padding-top:60px
  }
  .padding.l-bottom-60{
      padding-bottom:60px
  }
  .padding.l-top-80{
      padding-top:80px
  }
  .padding.l-bottom-80{
      padding-bottom:80px
  }
  .padding.l-top-100{
      padding-top:100px
  }
  .padding.l-bottom-100{
      padding-bottom:100px
  }
  .padding.l-top-120{
      padding-top:120px
  }
  .padding.l-bottom-120{
      padding-bottom:120px
  }
  .padding.l-top-160{
      padding-top:160px
  }
  .padding.l-bottom-160{
      padding-bottom:160px
  }
  .padding.l-all-20{
      padding:20px
  }
  .margin.l-top-0{
      margin-top:0
  }
  .margin.l-bottom-0{
      margin-bottom:0
  }
  .margin.l-top-20{
      margin-top:20px
  }
  .margin.l-bottom-20{
      margin-bottom:20px
  }
  .margin.l-top-40{
      margin-top:40px
  }
  .margin.l-bottom-40{
      margin-bottom:40px
  }
  .margin.l-top-60{
      margin-top:60px
  }
  .margin.l-bottom-60{
      margin-bottom:60px
  }
  .margin.l-top-80{
      margin-top:80px
  }
  .margin.l-bottom-80{
      margin-bottom:80px
  }
  .margin.l-top-100{
      margin-top:100px
  }
  .margin.l-bottom-100{
      margin-bottom:100px
  }
  .margin.l-top-120{
      margin-top:120px
  }
  .margin.l-bottom-120{
      margin-bottom:120px
  }
  .margin.l-top-160{
      margin-top:160px
  }
  .margin.l-bottom-160{
      margin-bottom:160px
  }
  .margin.l-all-20{
      margin:20px
  }
}
@media only screen and (min-width:1201px){
  .row .col.offset-xl0{
      margin-left:auto
  }
  .row .col.offset-l0.offset-xl1{
      margin-left:8.33333%
  }
  .padding.xl-top-0{
      padding-top:0
  }
  .padding.xl-bottom-0{
      padding-bottom:0
  }
  .padding.xl-top-20{
      padding-top:20px
  }
  .padding.xl-bottom-20{
      padding-bottom:20px
  }
  .padding.xl-top-40{
      padding-top:40px
  }
  .padding.xl-bottom-40{
      padding-bottom:40px
  }
  .padding.xl-top-60{
      padding-top:60px
  }
  .padding.xl-bottom-60{
      padding-bottom:60px
  }
  .padding.xl-top-80{
      padding-top:80px
  }
  .padding.xl-bottom-80{
      padding-bottom:80px
  }
  .padding.xl-top-100{
      padding-top:100px
  }
  .padding.xl-bottom-100{
      padding-bottom:100px
  }
  .padding.xl-top-120{
      padding-top:120px
  }
  .padding.xl-bottom-120{
      padding-bottom:120px
  }
  .padding.xl-top-160{
      padding-top:160px
  }
  .padding.xl-bottom-160{
      padding-bottom:160px
  }
  .padding.xl-all-20{
      padding:20px
  }
  .margin.xl-top-0{
      margin-top:0
  }
  .margin.xl-bottom-0{
      margin-bottom:0
  }
  .margin.xl-top-20{
      margin-top:20px
  }
  .margin.xl-bottom-20{
      margin-bottom:20px
  }
  .margin.xl-top-40{
      margin-top:40px
  }
  .margin.xl-bottom-40{
      margin-bottom:40px
  }
  .margin.xl-top-60{
      margin-top:60px
  }
  .margin.xl-bottom-60{
      margin-bottom:60px
  }
  .margin.xl-top-80{
      margin-top:80px
  }
  .margin.xl-bottom-80{
      margin-bottom:80px
  }
  .margin.xl-top-100{
      margin-top:100px
  }
  .margin.xl-bottom-100{
      margin-bottom:100px
  }
  .margin.xl-top-120{
      margin-top:120px
  }
  .margin.xl-bottom-120{
      margin-bottom:120px
  }
  .margin.xl-top-160{
      margin-top:160px
  }
  .margin.xl-bottom-160{
      margin-bottom:160px
  }
  .margin.xl-all-20{
      margin:20px
  }
}